*{
    margin: 0px;
    padding: 0px;
}

html, body{
    
    height: 100%;
    width: 100%;
    background-color: #ECEBE8;
} 

a{
    text-decoration: none;
}

/*          header          */
.header{
    position: fixed !important;
    width:calc(100% - 68px);
    height: 50px;
    background-color: #FAFAFA;
    margin-left: 34px;
    line-height: 50px;
}

.header a{
    color: #443e3e;
}

.header .menu-icon {
    float: left;
    width: 50px;
    font-size: 25px;
    text-align: center;
    background-color: #E5E5E5;
    cursor: pointer;
}

.menu-active{
    position: absolute;
    left:0;
}

.menu{
    display: none;
}

.logo{
    float: left;
}

.logo span{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    padding: 0 10px;
    margin:10px 20px;
    font-size: 20px;
    word-spacing: 0.2em;
    border: 1px solid black;
}

.logo :hover{
    position: relative;
    top:1px;
    left:1px;
}

.top-menu > ul{
    float:right;
    padding-right: 30px;
}

.top-menu  li{
    display: inline;
}

.drop > span{
    font: 600 13px/24px Arial;
    height: 52px;
    padding: 17px 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.drop >span:hover{
    text-decoration: #000 underline;
}

.top-menu i{
    padding-left: 5px;
    color: #5A595A;
}

.mega-menu-full{
    display: none;
    position: absolute;
    left:0px;
    width:100%;
    opacity: 0.83;
    background-color: rgb(0, 0, 0);
    color:#fff;
}

.mega-menu{
    display: none;
    width:210px;
    height:224px;
    position: absolute;
    padding: 20px 30px;
    background-color: rgb(0, 0, 0);
    opacity: 0.83;
    color:#fff;
    line-height:28px;
}

.mega-menu li{
    width: 100%;
    display: block;
}

.mega-menu li :hover{
    padding-left: 10px;
    transition: 0.3s;
}

.mega-menu a{
    color:#fff;
    text-transform: uppercase;
    font: 400 12px/15px Arial;
}

.dropdown-content{
    display:flex;
    flex-direction:row; /* 水平排列 */
    flex-wrap:wrap; /* 超出範圍時是否換行的屬性 */
    align-content:space-around;
    margin:0  0 10px 25px;
}

.dropdown-title {
    width: 25%;
}

.dropdown-title p{
    font-weight: bold;
    font-size: 20px;
    text-decoration: #fff underline;
    font-family:Arial;
}

.dropdown-column li{
    display: block;
    font: 400 12px/25px Arial;
}

.dropdown-column a{
    color:#fff;
    text-transform: uppercase;
}

.dropdown-column li :hover{
    padding-left: 10px;
    transition: 0.3s;
}

.search{
    display: none;
    position: absolute;
    right:0;
    background-color: #000;
    width: 260px;
    height: 50px;
    padding: 20px;
}

.form-control{
    width: 168px;
    height: 30px;
    padding: 10px 20px;
    border:0px;
    float: left;
    outline: none;
}

#btn{
    cursor: pointer;
}

.btn{
    width: 50px;
    height: 50px;
    border:0px;
    float: left;
    outline: none;
    cursor: pointer;
    background-color: #fff;
}
/*          header          */

.left-bar{
    position: fixed !important;
    top:0;
    left:10px;
    width: 24px;
    height: 100%;
    background-color: #E5E5E5;
}

.right-bar{
    position: fixed !important;
    top:0;
    right:10px;
    float: right;
    width: 24px;
    height: 100%;
    background-color: #E5E5E5;
}

/*          image-bgk          */
.image-bgk{
    background: url(lazyweb-bg.jpg) no-repeat center fixed; 
    background-size: cover;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.title{
    border-top:4px solid #ffffff;
    border-bottom:4px solid #ffffff;
    background-color: rgba(12, 12, 12, 0.281);
    padding: 50px
}

.title h1{
    font-size: 72px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    word-spacing: 0.2em;
    text-align: center;
}
.title .sub-title{
    padding-top: 40px;
    font-size: 25px;
    color:white;
}

.sub-title li{
    padding-top: 5px;
}
/*          image-bgk          */

/*----          container          ----*/
.container{
    width: 50%;
    margin: 100px auto;
    font-family: Helvetica,arial,sans-serif;
}

.entry{
    background-color: #fff;
    margin-top: 30px;
}

.entry img{
    max-width: 100%;
    display:block;
    padding-top: 20px;
    margin: auto;
}

.entry .context{
    padding: 20px 60px;
}

.context p{
    line-height: 1.5em;
    text-align:justify;
}

.entry .step-num{
    float: left;
    font-size: 43px;
    font-weight: bold;
    padding: 0px 10px;
}

.section-tip{
    display: inline-block;
    background-color: #fff;
    margin-top: 30px;
}

.section-tip h3{
    line-height: 60px;
    padding-left: 40px;
    height: 60px;
    background-color: #F6F5F4;
    font-size:20px;
    font-weight: bold;
}

.section-tip li{
    color:#6F6F6F;
    margin: 20px 60px;
    list-style-type: disc;
    line-height: 1.5em;
    text-align:justify;
}

.headbar{
    height: 60px;
}

.headnum{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: #93B874;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.headline{
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
    float: right;
    height: 60px;
    width: calc(100% - 80px);
    background-color: #F6F5F4;
    font-size:20px;
    font-weight: bold;
}
/*----          container          ----*/

/*----          footer          ----*/
.footer{
    position: absolute;
    width: 100%;
    height: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #93B874;
}

.footer a{
    color:#fff;
    font-size: 20px;
}

.footer a:hover{
    text-decoration:underline;
}

.footer-bar{
    margin-right: 150px
}

.footer-bar li{
    display:inline;
    margin-right: 10px;
}

.social li{
    display:inline;
    margin-right: 10px;
}

.social a{
    font-size: 25px;
}

.social a:hover{
    position: relative;
    bottom: 2px;
}
/*----          footer          ----*/

/*----          gotop          ----*/
#gotop {
    position:fixed !important;
    z-index:90;
    right:30px;
    display: none;
    bottom:31px;
    width:50px;
    height:50px;
    color:#fff;
    background:#93B874;
    line-height:50px;
    border-radius:50%;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
/*----          gotop          ----*/

/*----          RWD          ----*/
@media(max-width: 1200px){
    .title{
        padding: 37.5px
    }

    .title h1{
        font-size: 54px;
        word-spacing: 0.15em;
    }

    .title .sub-title{
        padding-top: 30px;
        font-size: 18.75px;
    }
}